@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
}

.momo {
  font-family: "Momo Trust Sans", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.elms {
  font-family: "Elms Sans", sans-serif;
}
.monts {
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}